# Global ownership: All files in this repository require review from these two owners before merging.
* @https://github.com/JNapzz @[FriendsGitHubHandle]
* @https://github.com/TheFenrisian935 @[FriendsGitHandle]
